
Ubuntu/IMG/iot-limerick-kria-classic-desktop-2204-x06-20220614-78.img.xz
Ubuntu/IMG/iot-limerick-kria-classic-desktop-2204-x06-20220614-78.img/iot-limerick-kria-classic-desktop-2204-x06-20220614-78.img
